@import url('https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+Antique:wght@400;700&display=swap');

$black: black;
$white: #f5f5f5;
$grey: rgb(124, 124, 124);
$darkGrey: rgb(109,112,114);
$pink: #d63384;


$simpleText: 'Zen Kaku Gothic Antique', sans-serif;
$titleText: 'Zen Kaku Gothic Antique Bold 700', sans-serif;

body{
    background-color:$black;
    color: $white;
    p{
        font-family: $simpleText;
    }
    h1,h2,h3{
        font-family: $titleText;
    }
    
}

.title{
    text-align:center;
    padding: 1rem;
}

.externalLink{
    color: $grey;
    text-decoration: none;
}
.externalLink:hover{
    color:$pink;
    transition: all 1s;
}

.carousel-inner{
    padding: 1rem;
    margin-top: 1rem;
    .bi{
        display: block;
        margin: auto;
        margin-top: 1rem;
        margin-bottom: 1rem;
        width: 10%;
    }
    p{
        color: $white;
        text-align:center;
    }
}

footer{
 
    padding: 1rem;
    .bi{
        padding-left: 1rem;
        width: 10%;
        height: 100%;
        max-width: 45px;
        min-width: 30px; 
    }

    a{
        color: $grey !important;
    }

    a:hover{
        color: $pink !important;
        transition: all 1s;
    }
    
    p{
        text-align: right;
    }
}
.accordion-item{
    border: none !important;
    background-color: $black !important;
    
    .accordion-button {
        background-color: $black !important;
        color: $grey !important;
    }
    .accordion-button:hover{
        color: $pink !important;
        transition: all 1s;
    }

    .accordion-button:focus{
        color:$white !important;
    }
    
}

.dropdown-menu{
    background-color: $grey !important;
    .dropdown-item{
        color: rgba(255,255,255,.75) !important;
    }
    .dropdown-item:hover{
        background-color: transparent !important;
        color: $white !important;
        transition: all 0.5s;
    }
}

.card{
    background-color: $black;
}

.progress-bar{
    background-color: $pink !important;
}
.textArea{
    padding-bottom: 1rem !important;
    .input-group-text{
        background-color: $grey !important;
        color: $white !important;
        border: none !important;
        
    }
    textarea{
        background-color: $black !important;
        
        color: $white !important;
        border-color: $darkGrey !important;
    }
}

.txtBox{
    background-color: $black !important;
    color: $white !important;
    border-top: none !important;
    border-right: none !important;
    border-left: none !important;
    border-radius: 0% !important;
    border-color: $grey !important;
}

.form-check-input:checked {
    background-color: $pink !important;
    border-color: $pink !important;
}

.list-group{
    padding-top: 1rem;
    .list-group-item{
        font-size: small !important;
        background: none !important;
        color: $pink !important;
    }
    
}
